<html>
<head>
    <title></title>
</head>
    <body>
    {% if certTF==1 %}
    <H3 style="color: green">{{scripts.Name}}</H3>
    {% else %}
    <H3>{{scripts.Name}}</H3> 
    {% endif %}
    <p style="color: red"> {{msg}}
        {% if msg != '' %}
        <a href="{{url_for("scriptEdit", scr=scripts.Name)}}"><button type="button">OK</button></a></p>
        {% endif %}
    
    <form method=POST>
    {% if startScript!= '' %}
    <form method=POST>
    <input type="hidden" id="Name" name="Name" value="{{scripts.Name}}">
    <input type="hidden" id="madeScript" name="madeScript" value="{{startScript}}">
    <label for="madeScript">Who started inputing this Script: {{startScript}} &emsp;</label>
    <input type="submit" value="Change"><br>
    </form>
    {% else %}
    <form method=POST>
    <input type="hidden" id="Name" name="Name" value="{{scripts.Name}}">
    <label for="madeScript1">Who started inputing this Script: </label>
    <input type="text" id="madeScript1" name="madeScript1"/>
    <input type="submit" value="Submit"><br>
    </form>
    {% endif %}


    <form method=POST>
    <table border=1>
    
    <tr><th>Name</th>
    <td>{{scripts["Name"]}}</td></tr>
    <input type="hidden" id="Name" name="Name" value="{{scripts['Name']}}"/>
    
    <tr><th>Type</th>
        {% if "type" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['type'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="type_{{v}}" rows="1" 
                    name="type_{{v}}" value="{{v}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="type", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="type" rows="1" name="type"></textarea>
        </td>
        {% endif %}
    

    <tr><th>Family</th>
        {% if "family" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['family'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="family_{{v}}" rows="1" 
                    name="family_{{v}}" value="{{v}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="family", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="family" rows="1" name="family"></textarea>
        </td>
        {% endif %}
    
    <tr><th>Unicode
    </th>
        {% if "unicode" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['unicode'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="unicode_{{v}}" rows="1" 
                    name="unicode_{{v}}" value="{{v}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="unicode", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="unicode" rows="1" name="unicode"></textarea>
        </td>
        {% endif %}
    
    <tr><th>Unicode Code Chart
    </th>
        {% if "unicodeChart" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['unicodeChart'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="unicodeChart_{{v}}" rows="1" 
                    name="unicodeChart_{{v}}" value="{{v}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="unicodeChart", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="unicodeChart" rows="1" name="unicodeChart"></textarea>
        </td>
        {% endif %}
    
    <tr><th>Direction</th>
        {% if "direction" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['direction'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="direction_{{v}}" rows="1" 
                    name="direction_{{v}}" value="{{v}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="direction", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="direction" rows="1" name="direction"></textarea>
        </td>
        {% endif %}

    <tr><th>Number of Glyphs</th>
        {% if "glyphNumber" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['glyphNumber'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="glyphNumber_{{v}}" rows="1" 
                    name="glyphNumber_{{v}}" value="{{v}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="glyphNumber", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="glyphNumber" rows="1" name="glyphNumber"></textarea>
        </td>
        {% endif %}
    
    <tr><th>Diacritics
    </th>
        {% if "diacritics" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['diacritics'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="diacritics_{{v}}" rows="1" 
                    name="diacritics_{{v}}" value="{{v}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="diacritics", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="diacritics" rows="1" name="diacritics"></textarea>
        </td>
        {% endif %}
    
    <tr><th>Contextual Forms
    </th>
        {% if "contextualForms" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['contextualForms'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="contextualForms_{{v}}" rows="1" 
                    name="contextualForms_{{v}}" value="{{v}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="contextualForms", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="contextualForms" rows="1" name="contextualForms"></textarea>
        </td>
        {% endif %}

    <tr><th>Use Capitals</th>
        {% if "capitalUsed" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['capitalUsed'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="capitalUsed_{{v}}" rows="1" 
                    name="capitalUsed_{{v}}" value="{{v}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="capitalUsed", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="capitalUsed" rows="1" name="capitalUsed"></textarea>
        </td>
        {% endif %}

    <tr><th>Earliest Attestation Date</th>
        {% if "earliestDate" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['earliestDate'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="earliestDate_{{v}}" rows="1" 
                    name="earliestDate_{{v}}" value="{{v}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="earliestDate", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="earliestDate" rows="1" name="earliestDate"></textarea>
        </td>
        {% endif %}
    
    <tr><th>Latest Attestation Date</th>
        {% if "latestDate" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['latestDate'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="latestDate_{{v}}" rows="1" 
                    name="latestDate_{{v}}" value="{{v}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="latestDate", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="latestDate" rows="1" name="latestDate"></textarea>
        </td>
        {% endif %}
    
    <tr><th>Earliest Attestation Location</th>
        {% if "earliestLoc" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['earliestLoc'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="earliestLoc_{{v}}" rows="1" 
                    name="earliestLoc_{{v}}" value="{{v}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="earliestLoc", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="earliestLoc" rows="1" name="earliestLoc"></textarea>
        </td>
        {% endif %}
    
    <tr><th>Inventor
    </th>
        {% if "inventor" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['inventor'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="inventor_{{v}}" rows="1" 
                    name="inventor_{{v}}" value="{{v}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="inventor", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="inventor" rows="1" name="inventor"></textarea>
        </td>
        {% endif %}
    
    <tr><th>Parentage
    <p style="font-size: 12px;">Name==parent script in dbs.</p>
    </th>
        {% if "parent" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['parent'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="parent_{{v}}" rows="1" 
                    name="parent_{{v}}" value="{{v}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="parent", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="parent" rows="1" name="parent"></textarea>
        </td>
        {% endif %}
    
    <tr><th>Development (Children)</th>
        {% if "children" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['children'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="children_{{v}}" rows="1" 
                    name="children_{{v}}" value="{{v}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="children", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="children" rows="1" name="children"></textarea>
        </td>
        {% endif %}
    
    <tr><th>Official Status (Countries)
    </th>
        {% if "countries" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['countries'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="countries_{{v}}" rows="1" 
                    name="countries_{{v}}" value="{{v}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="countries", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="countries" rows="1" name="countries"></textarea>
        </td>
        {% endif %}
    
    <tr><th>Languages
    </th>
        {% if "languages" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['languages'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="languages_{{v}}" rows="1" 
                    name="languages_{{v}}" value="{{v}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="languages", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="languages" rows="1" name="languages"></textarea>
        </td>
        {% endif %}
        
    <tr><th>Description</th>
        {% if "description" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['description'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="description_{{v}}" rows="1" 
                    name="description_{{v}}" value="{{v}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="description", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="description" rows="1" name="description"></textarea>
        </td>
        {% endif %}

    <tr><th>Hyperlinks</th>
        {% if "Hyperlinks" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['Hyperlinks'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="Hyperlinks_{{v}}" rows="1" 
                    name="Hyperlinks_{{v}}" value="{{v}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="Hyperlinks", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="Hyperlinks" rows="1" name="Hyperlinks"></textarea>
        </td>
        {% endif %}
    
    <tr><th>Image Address
    </th>
        {% if "imageAddress" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['imageAddress'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="imageAddress_{{v}}" rows="1" 
                    name="imageAddress_{{v}}" value="{{v}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="imageAddress", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="imageAddress" rows="1" name="imageAddress"></textarea>
        </td>
        {% endif %}
    
    <tr><th>Image Description
    </th>
        {% if "imageDescription" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['imageDescription'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="imageDescription_{{v}}" rows="1" 
                    name="imageDescription_{{v}}" value="{{v}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="imageDescription", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="imageDescription" rows="1" name="imageDescription"></textarea>
        </td>
        {% endif %}
    
    <tr><th>Image Citation
    </th>
        {% if "imageCitation" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['imageCitation'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="imageCitation_{{v}}" rows="1" 
                    name="imageCitation_{{v}}" value="{{v}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="imageCitation", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="imageCitation" rows="1" name="imageCitation"></textarea>
        </td>
        {% endif %}

    <tr><th>Research Notes
    </th>
        {% if "researchNotes" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['researchNotes'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="researchNotes_{{v}}" rows="1" 
                    name="researchNotes_{{v}}" value="{{v}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="researchNotes", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="researchNotes" rows="1" name="researchNotes"></textarea>
        </td>
        {% endif %}
    
    </table>
    <input type="submit" value="Make changes!" />
    </form>

    <h4>Add an image:</h4>
    <p> - Add the image information (description, and citation) in the above boxes</p>
    <p> - If you want to change the image, simply re-upload one.</p>
    {% if "imageName" in scripts.keys() %}
        <p style='color:red;'>There is already an image for this script: <i>**ignore: {{scripts['imageName']}}**</i><br></p>
        <img src="../static/uploads/{{scripts['imageName']}}" style="width:200px;max-height:150px;">
        <br>
    {% endif %}
    <br>
    <form action='/script' method='POST' enctype = "multipart/form-data" >
        <input type="hidden" id="Name" name="Name" value="{{scripts.Name}}">
        <input id="file" type="file" name="file" />
        <button type='submit'> Upload </button>
    </form>

    <br>

    <H4> OR add to an <b>existing</b> or <b>new</b> key/value: </H4>
    <p style="font-size: 12px;">**Please use the same key as the field you're trying to add to, otherwise it wont update correctly. <br> You can omit the parts in parentheses </p>
    <form method=POST>
    <input type="hidden" id="Name" name="Name" value="{{scripts.Name}}">
    <label for="listkey">Key: </label>
    <input type="text" id="listkey" name="listkey"/>
    <label for="listvalue">Value: </label>
    <input type="text" id="listvalue" name="listvalue"/><br>
    <input type="submit" value="Add New Value">
    </form>

    <br><br>

    <H3>Bibliography: </H3>

    <table border=1>
        <tr>
            <th>Author</th>
            <th>Year</th>
            <th>Book</th>
            <th>Chapter</th>
            <th>Pages</th>
            <th>Publisher</th>
            <th>URL</th>
        </tr>
        {% for dic in bib_dic %}
            <tr>
            <td>{{dic['Sources']["author"]}}</td>
            <td>{{dic['Sources']["year"]}}</td>
            <td>{{dic['Sources']["book"]}}</td>
            <td>{{dic['Sources']["chapter"]}}</td>
            <td>{{dic['Sources']["pages"]}}</td>
            <td>{{dic['Sources']["publisher"]}}</td>
            <td>{{dic['Sources']["url"]}}</td>
            <td>
                <a href={{url_for("scriptEdit", author=dic['author'], year=dic['year'], book=dic['book'], chapter=dic['chapter'], pages=dic['pages'], publisher=dic['publisher'], bibName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td>
            </tr>
        {% endfor %}


    </table>


    <p><b>Text Sources~ </b></p>
    <form method="POST">
    <input type="hidden" id="Name" name="Name" value="{{scripts.Name}}">
    <input type="hidden" id="textSource" name="textSource" value="True">
    <label for="author">Author: </label>
    <input type="text" id="author" name="author"/>
    <p style="font-size: 12px;">**if <b>more than one author-</b> seperate by a comma and the last author by an "and".<br> Example: <b>"Rock, Chirs and Smith, Will"</b> or <b>"Spears, Britney, Bezos, Jeff and Holland, Tom"</b></p>
    <label for="year">Year: </label>
    <input type="text" id="year" name="year"/><br>
    <p style="font-size: 12px;">**write year 'space' century. Example: <b>512 CE</b> or <b>3,000 BCE</b> if in this era it's CE i.e. 1999 CE</p>
    <label for="chapter">Chapter Title: </label>
    <input type="text" id="chapter" name="chapter"/><br>
    <label for="book">Book Title: </label>
    <input type="text" id="book" name="book"/><br>
    <label for="publisher">Publisher: </label>
    <input type="text" id="publisher" name="publisher"/><br>
    <label for="pages">Page Range: </label>
    <input type="text" id="pages" name="pages"/><br>
    <input type="submit" value="Add Source"><br>
    </form>
    

    <p><b>Web Sources~ </b></p>
    <form method="POST">
    <input type="hidden" id="Name" name="Name" value="{{scripts.Name}}">
    <input type="hidden" id="textSource" name="textSource" value="True">
    <label for="author">Author: </label>
    <input type="text" id="author" name="author"/>
    <p style="font-size: 12px;">**if <b>more than one author-</b> seperate by a comma and the last author by an "and".<br> Example: <b>"Rock, Chirs and Smith, Will"</b> or <b>"Spears, Britney, Bezos, Jeff and Holland, Tom"</b></p>
    <label for="year">Year: </label>
    <input type="text" id="year" name="year"/><br>
    <p style="font-size: 12px;">**write year 'space' century. Example: <b>512 CE</b> or <b>3,000 BCE</b> if in this era it's CE i.e. 1999 CE</p>
    <label for="publisher">Publisher: </label>
    <input type="text" id="publisher" name="publisher"/><br>
    <label for="url">URL: </label>
    <input type="text" id="url" name="url"/><br>
    <input type="submit" value="Add Source"><br>
    </form>
    

    <br>
    <H4> Check for Completion </H4>
    <p style="color: red; font-size: 12px;">*by writing your full name you're signing that you've <b>completed</b> your portion of the research / checking</p>
    {% if certNum1 != '' %}
    <form method=POST>
    <input type="hidden" id="Name" name="Name" value="{{scripts.Name}}">
    <p>{{scripts.Name}}</p>
    <input type="hidden" id="unsignNum1" name="unsignNum1" value="{{certNum1}}">
    <label for="unsignNum1">Researcher: {{certNum1}} &emsp;</label>
    <input onclick="return confirm('Are you sure you want to UNpublish this?')" type="submit" value="Unsign"><br>
    </form>
    {% else %}
    <form method=POST>
    <input type="hidden" id="Name" name="Name" value="{{scripts.Name}}">
    <label for="certificationNum1">Researcher: </label>
    <input type="text" id="certificationNum1" name="certificationNum1"/>
    <input type="submit" value="I'm Done"><br>
    </form>
    {% endif %}


    {% if certNum2 != '' %}
    <form method=POST>
    <input type="hidden" id="Name" name="Name" value="{{scripts.Name}}">
    <input type="hidden" id="unsignNum2" name="unsignNum2" value="{{certNum2}}">
    <label for="unsignNum2">Checker: {{certNum2}} &emsp;</label>
    <input onclick="return confirm('Are you sure you want to UNpublish this?')" type="submit" value="Unsign"><br>
    </form>
    {% else %}
    <form method=POST>
    <input type="hidden" id="Name" name="Name" value="{{scripts.Name}}">
    <label for="certificationNum2">Checker: </label>
    <input type="text" id="certificationNum2" name="certificationNum2"/>
    <input type="submit" value="I'm Done"><br>
    </form>
    {% endif %}

    <br>

    
    <a href="{{url_for("main")}}"><button type="button">Return to Home</button></a>

    </body>
</html>
