<html>
<head>
    <title></title>
</head>
    <body>
    {% if certTF==1 %}
    <H3 style="color: green">{{scripts.Name}}</H3>
    {% else %}
    <H3>{{scripts.Name}}</H3> 
    {% endif %}
    <p style="color: red"> {{msg}}
        {% if msg != '' %}
        <a href="{{url_for("scriptEdit", scr=scripts.Name)}}"><button type="button">OK</button></a></p>
        {% endif %}
    
    <form method=POST>
    <table border=1>
    
    <tr><td>Name</td>
    <td>{{scripts["Name"]}}</td></tr>
    <input type="hidden" id="Name" name="Name" value="{{scripts['Name']}}"/>
    
    <tr><td>Type</td>
        {% if "type" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['type'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="type_{{dic['type']}}" rows="1" 
                    name="type_{{dic['type']}}" value="{{dic['type']}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="type", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="type" rows="1" name="type"></textarea>
        </td>
        {% endif %}
    

    <tr><td>Family</td>
        {% if "family" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['family'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="family_{{dic['family']}}" rows="1" 
                    name="family_{{dic['family']}}" value="{{dic['family']}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="family", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="family" rows="1" name="family"></textarea>
        </td>
        {% endif %}
    
    <tr><td>Direction</td>
        {% if "direction" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['direction'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="direction_{{dic['direction']}}" rows="1" 
                    name="direction_{{dic['direction']}}" value="{{dic['direction']}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="direction", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="direction" rows="1" name="direction"></textarea>
        </td>
        {% endif %}

    <tr><td>Number of Glyphs</td>
        {% if "glyphNumber" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['glyphNumber'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="glyphNumber_{{dic['glyphNumber']}}" rows="1" 
                    name="glyphNumber_{{dic['glyphNumber']}}" value="{{dic['glyphNumber']}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="glyphNumber", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="glyphNumber" rows="1" name="glyphNumber"></textarea>
        </td>
        {% endif %}

    <tr><td>Use Capitals</td>
        {% if "capitalUsed" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['capitalUsed'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="capitalUsed_{{dic['capitalUsed']}}" rows="1" 
                    name="capitalUsed_{{dic['capitalUsed']}}" value="{{dic['capitalUsed']}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="capitalUsed", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="capitalUsed" rows="1" name="capitalUsed"></textarea>
        </td>
        {% endif %}

    <tr><td>Earliest Attestation Date</td>
        {% if "earliestDate" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['earliestDate'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="earliestDate_{{dic['earliestDate']}}" rows="1" 
                    name="earliestDate_{{dic['earliestDate']}}" value="{{dic['earliestDate']}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="earliestDate", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="earliestDate" rows="1" name="earliestDate"></textarea>
        </td>
        {% endif %}
    
    <tr><td>Latest Attestation Date</td>
        {% if "latestDate" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['latestDate'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="latestDate_{{dic['latestDate']}}" rows="1" 
                    name="latestDate_{{dic['latestDate']}}" value="{{dic['latestDate']}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="latestDate", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="latestDate" rows="1" name="latestDate"></textarea>
        </td>
        {% endif %}
    
    <tr><td>Earliest Attestation Location</td>
        {% if "earliestLoc" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['earliestLoc'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="earliestLoc_{{dic['earliestLoc']}}" rows="1" 
                    name="earliestLoc_{{dic['earliestLoc']}}" value="{{dic['earliestLoc']}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="earliestLoc", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="earliestLoc" rows="1" name="earliestLoc"></textarea>
        </td>
        {% endif %}
    
    <tr><td>Parentage
    <p style="font-size: 12px;">if you want it to connect to another script, the name must be the same as the parent script in the database.</p>
    </td>
        {% if "parent" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['parent'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="parent_{{dic['parent']}}" rows="1" 
                    name="parent_{{dic['parent']}}" value="{{dic['parent']}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="parent", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="parent" rows="1" name="parent"></textarea>
        </td>
        {% endif %}
    
    <tr><td>Development (Children)</td>
        {% if "children" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['children'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="children_{{dic['children']}}" rows="1" 
                    name="children_{{dic['children']}}" value="{{dic['children']}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="children", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="children" rows="1" name="children"></textarea>
        </td>
        {% endif %}
        
    <tr><td>Description</td>
        {% if "description" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['description'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="description_{{dic['description']}}" rows="1" 
                    name="description_{{dic['description']}}" value="{{dic['description']}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="description", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="description" rows="1" name="description"></textarea>
        </td>
        {% endif %}

    <tr><td>Hyperlinks</td>
        {% if "Hyperlinks" in dic.keys() %}
        <td>
            <table border="1" style="width:50px">
            {% for a in dic['Hyperlinks'] %}
            {% for v in a %}
            <tr>
            <td>
                <textarea type="text" style="width: 423px;" id="Hyperlinks_{{dic['Hyperlinks']}}" rows="1" 
                    name="Hyperlinks_{{dic['Hyperlinks']}}" value="{{dic['Hyperlinks']}}"/>{{v}}</textarea>
            </td>
            <td>
                <a href={{url_for("scriptEdit", val=v, delValue="Hyperlinks", valueName=scripts["Name"])}} 
                    onclick="return confirm('Are you sure you want to delete?')">DELETE</a>
            </td></tr>
            {% endfor %}{% endfor %}
            </table>
        </td>
        {% else %}
        <td>
            <textarea type="text" style="width: 423px;" id="Hyperlinks" rows="1" name="Hyperlinks"></textarea>
        </td>
        {% endif %}
    
    </table>
    <input type="submit" value="Make changes!" />
    </form>

    <H4> OR add to an <b>existing</b> or <b>new</b> key/value: </H4>
    <p style="font-size: 12px;">**Please use the same key as the field you're trying to add to, otherwise it wont update correctly. <br> You can omit the parts in parentheses </p>
    <form method=POST>
    <input type="hidden" id="Name" name="Name" value="{{scripts.Name}}">
    <label for="listkey">Key: </label>
    <input type="text" id="listkey" name="listkey"/>
    <label for="listvalue">Value: </label>
    <input type="text" id="listvalue" name="listvalue"/><br>
    <input type="submit" value="Add New Value">
    </form>

    <H4>Add example image</H4>

    <form method=POST action="/action_page.php">
        <label for="img">Select image:</label>
        <input type="file" id="img" name="img" accept="image/*">
        <input type="submit">
    </form>


    <br><br>

    <H3>Bibliography: </H3>

    {% if bib_true==1 %}
    <table border=1>
    
    <tr><th>Author</th>
    {% for dic in bib_dic %}
    <td>{{dic["author"]}}</td></tr>
    {% endfor %}
    
    <tr><th>Year</th>
    {% for dic in bib_dic %}
    <td>{{dic["year"]}}</td></tr>
    {% endfor %}
    
    <tr><th>Book</th>
    {% for dic in bib_dic %}
    <td>{{dic["book"]}}</td></tr>
    {% endfor %}
    
    <tr><th>Chapter</th>
    {% for dic in bib_dic %}
    <td>{{dic["chapter"]}}</td></tr>
    {% endfor %}
    
    <tr><th>Pages</th>
    {% for dic in bib_dic %}
    <td>{{dic["pages"]}}</td></tr>
    {% endfor %}
    
    <tr><th>Publisher</th>
    {% for dic in bib_dic %}
    <td>{{dic["publisher"]}}</td></tr>
    {% endfor %}
  

    </table>
    {% endif %}


    <p><b>Text Sources~ </b></p>
    <form method="POST">
    <input type="hidden" id="Name" name="Name" value="{{scripts.Name}}">
    <input type="hidden" id="textSource" name="textSource" value="True">
    <label for="author">Author: </label>
    <input type="text" id="author" name="author"/>
    <p style="font-size: 12px;">**if <b>more than one author-</b> seperate by a comma and the last author by an "and".<br> Example: <b>"Rock, Chirs and Smith, Will"</b> or <b>"Spears, Britney, Bezos, Jeff and Holland, Tom"</b></p>
    <label for="year">Year: </label>
    <input type="text" id="year" name="year"/><br>
    <p style="font-size: 12px;">**write year 'space' century. Example: <b>512 CE</b> or <b>3,000 BCE</b> if in this era it's CE i.e. 1999 CE</p>
    <label for="chapter">Chapter Title: </label>
    <input type="text" id="chapter" name="chapter"/><br>
    <label for="book">Book Title: </label>
    <input type="text" id="book" name="book"/><br>
    <label for="publisher">Publisher: </label>
    <input type="text" id="publisher" name="publisher"/><br>
    <label for="pages">Page Range: </label>
    <input type="text" id="pages" name="pages"/><br>
    <input type="submit" value="Add Source"><br>
    </form>
    

<!--    <p><b>Web Sources~ </b></p>
    <input type="submit" value="Add source"><br>
-->    
    <br>
    <H4> Check for Completion </H4>
    <p style="color: red; font-size: 12px;">*by writing your full name you're signing that you've <b>completed</b> your portion of the research / checking</p>
    {% if certNum1 != '' %}
    <form method=POST>
    <input type="hidden" id="Name" name="Name" value="{{scripts.Name}}">
    <p>{{scripts.Name}}</p>
    <input type="hidden" id="unsignNum1" name="unsignNum1" value="{{certNum1}}">
    <label for="unsignNum1">Researcher: {{certNum1}} &emsp;</label>
    <input onclick="return confirm('Are you sure you want to UNpublish this?')" type="submit" value="Unsign"><br>
    </form>
    {% else %}
    <form method=POST>
    <input type="hidden" id="Name" name="Name" value="{{scripts.Name}}">
    <label for="certificationNum1">Researcher: </label>
    <input type="text" id="certificationNum1" name="certificationNum1"/>
    <input type="submit" value="I'm Done"><br>
    </form>
    {% endif %}


    {% if certNum2 != '' %}
    <form method=POST>
    <input type="hidden" id="Name" name="Name" value="{{scripts.Name}}">
    <input type="hidden" id="unsignNum2" name="unsignNum2" value="{{certNum2}}">
    <label for="unsignNum2">Checker: {{certNum2}} &emsp;</label>
    <input onclick="return confirm('Are you sure you want to UNpublish this?')" type="submit" value="Unsign"><br>
    </form>
    {% else %}
    <form method=POST>
    <input type="hidden" id="Name" name="Name" value="{{scripts.Name}}">
    <label for="certificationNum2">Checker: </label>
    <input type="text" id="certificationNum2" name="certificationNum2"/>
    <input type="submit" value="I'm Done"><br>
    </form>
    {% endif %}

    <br>

    
    <a href="{{url_for("main")}}"><button type="button">Return to Home</button></a>

    </body>
</html>
